---
interface Props {
  page: {
    title: string
    description: string
    schema: never[]
  }
}

const { page } = Astro.props
---

<!doctype html>
<html lang="ja" prefix="og: https://ogp.me/ns#" itemscope itemtype="https://schema.org/WebPage">
  <head>
    <meta charset="UTF-8" />
    <meta name="generator" content={Astro.generator} />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="canonical" href={Astro.site} />
    <title>{page.title}</title>
    <meta name="description" content={page.description} />
    <meta property="og:locale" content="ja_JP" />
    <meta property="og:site_name" content={page.title} />
    <meta property="og:type" content={'website'} />
    <meta property="og:url" content={Astro.site} />
    <meta property="og:title" content={page.title} />
    <meta property="og:description" content={page.description} />
    <meta property="og:image" content={new URL('/images/og-img.jpg', Astro.site)} />
    <meta name="twitter:site" content="@_shinnoki" />
    <meta name="twitter:card" content="summary" />
    <meta name="theme-color" content="#4c566a" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="apple-mobile-web-app-title" content={page.title} />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="144x144" href="/images/icons/android-chrome-144x144.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icons/apple-touch-icon.png" />
    <link rel="mask-icon" href="/images/icons/safari-pinned-tab.svg" color="#495733" />
    <link rel="manifest" href="/manifest.webmanifest" />
    <link rel="preload" href="/fonts/Spica-Regular.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
    <link rel="preload" href="/fonts/Spica-Bold.woff2" as="font" type="font/woff2" crossorigin="anonymous" />
  </head>
  <body>
    <slot />
  </body>
  <script>
    console.info('%c>> Source is https://github.com/shennoki/portal', 'padding:20px 0; font-weight:bold;')
  </script>
</html>

<style lang="scss"></style>
